            @font-face {
                font-family: "Lato";
                src: url('698242188-Lato-Bla.eot');
                src: url('698242188-Lato-Bla.eot?#iefix') format('embedded-opentype'), url('698242188-Lato-Bla.svg#Lato Black') format('svg'), url('698242188-Lato-Bla.woff') format('woff'), url('698242188-Lato-Bla.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }
            
            body {
                background: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
            }
            
            h1,
            h2,
            p,
            a,
            button {
                color: rgb(0, 0, 0);
                font-family: 'Lato', sans-serif;
                font-weight: 700;
            }
            
            .container {
                max-width: 1319px;
                margin: 0 auto;
            }
            
            .header {
                margin-bottom: 65px;
            }
            
            .headerContent {}
            
            .headerContent_upSide {
                background-color: #222222;
                padding: 18px 0;
            }
            
            .navigation {
                display: flex;
                gap: 859px;
                align-items: center;
            }
            
            .navigation_left {
                display: flex;
                gap: 41px;
                align-items: center;
            }
            
            .navigation_rigth {
                display: flex;
                gap: 33px;
                align-items: center;
            }
            
            .headerContent_downSide {
                display: flex;
                background-color: #F1E4E6;
                gap: 64px;
                align-items: center;
            }
            
            .main {}
            
            .cardList {
                display: grid;
                /* grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 3fr); */
                max-width: 1140px;
                flex-wrap: wrap;
                gap: 30px;
            }
            
            .background {
                position: relative;
            }
            
            .background_big {
                position: relative;
            }
            
            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .card_big {
                grid-column: span 3;
                margin-bottom: 96px;
            }
            
            .centered {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            .image-filter {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #211616B2;
                opacity: 0.7;
            }
            
            .centered p {
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                text-align: center;
            }
            
            .centered h2 {
                color: #F16D7F;
                font-size: 24px;
                font-weight: 700;
                line-height: 28.8px;
                text-align: center;
            }
            
            .block {}
            
            .texth1 {
                text-align: center;
            }
            
            .texth1 h1 {
                color: #222222;
                font-size: 30px;
                font-weight: 400;
                line-height: 36px;
            }
            
            .texth1 p {
                color: #9F9F9F;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                margin-bottom: 48px;
            }
            
            .cardList2 {
                display: grid;
                grid-template-columns: repeat(3, 2fr);
                grid-template-rows: repeat(2, 3fr);
                gap: 30px;
                margin-bottom: 48px;
            }
            
            .card2 {
                display: flex;
                flex-direction: column;
                align-items: start;
                background-color: #F8F8F8;
                max-width: 360px;
            }
            
            .back {
                padding: 0px 10px 20px 10px;
            }
            
            .card2 img {
                margin-bottom: 25px;
            }
            
            .card2 h2 {
                font-size: 13px;
                font-weight: 400;
                line-height: 15.6px;
                margin-bottom: 16px;
            }
            
            .card2 p {
                color: #5D5D5D;
                font-size: 14px;
                font-weight: 300;
                line-height: 16.8px;
                margin-bottom: 16px;
            }
            
            .card2 h3 {
                color: #F16D7F;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
            }
            
            .btn {
                display: flex;
                justify-content: center;
                margin-bottom: 60px;
            }
            
            .btn button {
                border: 1px solid #FF6A6A;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                color: #FF6A6A;
                background-color: #FFFFFF;
                padding: 15px 39px;
                cursor: pointer;
            }
            
            .hero__title {
                position: relative;
                font-weight: 700;
                font-size: 32px;
                color: #222;
                max-width: 405px;
                padding-left: 28px;
            }
            
            .hero__title::before {
                content: "";
                position: absolute;
                display: block;
                width: 12px;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #f16d7f;
            }
            
            .color-pink {
                color: #f16d7f;
            }
            
            @media (max-width: 992px) {
                .container {
                    padding: 0 16px;
                }
                .headerContent_downSide_left {
                    gap: 40px;
                }
                .hero__title {
                    padding-bottom: 14px;
                    font-size: 24px;
                }
                .black-weight {
                    font-size: 44px;
                }
                .cardList {
                    gap: 20px;
                }
                .card {
                    min-height: 167px;
                }
                .card_big {
                    min-height: 116px;
                }
                .block {
                    padding: 70px 0;
                }
                .cardList2 {
                    gap: 16px;
                }
                .card2 {
                    flex: 1 1 calc(50% - 8px);
                }
            }